

@mixin buttons {
    
    .button-box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: .5rem;
        column-gap: .5rem;
    }
}