@mixin media() {
    
    @media  screen and (min-width: 800px ) {
        .all-box{
            margin: auto 10rem;
        }
    }

    @media  screen and (min-width: 1100px ) {
        .all-box{
            margin: auto 30%;
        }
    }


    @media  screen and (min-width: 1700px ) {
        .all-box{
            margin: auto 35%;
        }
    }
}