///////////////////Colors///////////////

//////////Primary
$calc-background: #8A817C;
$site-background: #463F3A;
$input-background: #F4F3EE;
$button-oragne: #FFCD6B;
$button-green: #D3DDD0;
$font-color: #2F2F2F;

///////////////////Typography///////////////

//////////Body Copy
$default-size: 20px;

//////////Font
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
$font: 'Saira', sans-serif;


/////Weights
$regular: 400;
$bold : 700;